<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{url_for('static', filename='logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="navbar-brand" src="{{url_for('static', filename='logo.png')}}">
                <a class="navbar-brand" href="{{url_for('get_course')}}">课程管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block cource_active %}{% endblock %}"><a href="{{url_for('get_course')}}">课程管理</a></li>
                    <li class="{% block stu_active %}{% endblock %}"><a href="{{url_for('get_student')}}">学员管理</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    {% block body %}
    {% endblock %}

</body>
</html>

<script type="text/javascript">
    {% block script %}
    {% endblock %}
</script>